.insertTask {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family:  Helvetica;
}

.textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.insertTask  input{
    width: 40%;
    background-color: #fff;
    border: none;
    padding: 0.5em 0.3em;
    margin-right: 0.5em; 
    vertical-align: top;
}

.insertTask form {

    display: flex;
    align-items: left;
    margin-left: 1vw;
    justify-content: space-between;
    max-width: max-content;
    padding: 0.3em 0.5em 0 0.5em;
    border: 1px solid #8af0ec ; 
    border-radius: 0.5em;
    background-color: #fff;
}

.taskForm button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #f878a2;
    transition: 0.5s;
}

.taskForm button:hover {
    color: #30c5c0;
}


.icons div{
    display: flex;
    font-size: 15px;
    margin-top: 0;
    align-items: center;
    width: max-content;
    color: #f878a2;
    transition: 0.5s;
}

.icons div:hover {
        cursor: pointer;
        color: #30c5c0;
        
}

.addButton:hover {
    cursor: pointer;

}
