.container {
  width: 70vw;
  min-height: 10vw;
  background-color: #fffaff; 
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ffe9ff;
  padding: 1em;
  margin-top: 5vw;
}



.pageTitle {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 0.5em;
}

.noTasksText {
  color: #91b7ba;
  margin: 2em 4em 1em 4em;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #c5ebf0;
}